body{
  background-color: #DCDCDC;
}


img{
  display: block;
  height: auto;
  max-width: 100%;
  margin: auto;
  background-color:white;
  
}
#title,#img-caption,#timeline-caption{
  text-align: center;
}
.info{
  font-style: italic;
  font-size: 17px;
}
li{
  margin: 15px auto;
  line-height:1.2;
}
.tribute-link-container{
  font-weight: bold;
  font-size: 15px;
  width: 100%;
  text-align: center;
}
#tribute-info{
   margin: 5px auto;
    width: 65%;
    font-size: 17px;
    padding: 10px 70px 20px 70px;
    border-radius: 4px;
}
#img-caption{
  line-height: 1.6;
}
#img-div{
  background: white;
    padding: 10px;
    margin: 0;
}
